<div class="card-columns">

    <div class="card">
        <img src="../../assets/img/img1.png" class="card-img-top" alt="..." width="100px" height="200px">
        <div class="card-body">
            <h5 class="card-title">Buscar Excel en la Computadora</h5>
            <p class="card-text">Revise que tenga instalada la aplicacion de Excel. Utilice
                el buscador para encontrar la aplicacion en su computadora</p>
            <hr size="10px" color="green" />
            <p class="card-text">¿No sabes como hacerlo? Haz click en el boton</p>
            <a href="https://cloud.uipath.com/8083004c-0eed-4fd0-a7b3-d973ee2ded31/apps_/default/run/production/ID59700979c8ec46f680bffca9eb15e6a9/public?origin=appsHomePage&el=LEGACY" target="_blank"> 
                <button>Click Aqui!!!</button>
            </a> 
        </div>
    </div>

    <div class="card">
        <img src="../../assets/img/img2.png" class="card-img-top" alt="..." width="150px" height="200px">
        <div class="card-body">
            <h5 class="card-title">Abrir Excel</h5>
            <p class="card-text">Asegurandose de que tengas la aplicacion. Haz click en el logo de 
                Excel cuando sea buscado en tu computadora </p>
            <hr size="10px" color="green" />
            <p class="card-text">¿Quieres abrirlo automaticamente? Haz click en el boton</p>
            <a href="https://cloud.uipath.com/8083004c-0eed-4fd0-a7b3-d973ee2ded31/apps_/default/run/production/IDeb4b88eef2af4006bcc5f9a27070b757/public?origin=appsHomePage&el=LEGACY" target="_blank"> 
                <button>Click Aqui!!!</button>
            </a> 
        </div>
    </div>

    <div class="card">
        <img src="../../assets/img/img4.png" class="card-img-top" alt="..." width="150px" height="200px">
        <div class="card-body">
            <h5 class="card-title">Escribir en una Celda de Excel</h5>
            <p class="card-text">En una hoja de Excel notaras varias casillas en las cuales puedes escribir un 
                texto. Simplemente haz click sobre la que desees y empieza a escribir! </p>
            <hr size="10px" color="green" />
            <p class="card-text">¿Quieres ver un ejemplo? Haz click en el boton</p>
            <a href="https://cloud.uipath.com/8083004c-0eed-4fd0-a7b3-d973ee2ded31/apps_/default/run/production/ID1b170e40e72b45598a4ebb14a680274f/public?origin=appsHomePage&el=LEGACY" target="_blank"> 
                <button>Click Aqui!!!</button>
            </a> 
        </div>
    </div>

    <!-- COMPONENTE PARA HERRAMIENTAS
    <div class="card">
        <img src="../../assets/img/img4.png" class="card-img-top" alt="..." width="150px" height="200px">
        <div class="card-body">
            <h5 class="card-title">¿Que es esto?</h5>
            <p class="card-text">Una COLUMNA son todas las celdas ubicadas de forma VERTICAL </p>
            <hr size="10px" color="green" />
            <p class="card-text">Una FILA son todas las celdas ubicadas de forma HORIZONTAL </p>
            
        </div>
    </div>
    -->

    
    <!---
    <div class="card">
        <img src="../../assets/img/creadorPagina.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aumentar tamaño de vista</h5>
            <p class="card-text">Da click para ver el ejemplo</p>
        </div>
    </div>
    <div class="card">
        <img src="../../assets/img/creadorPagina.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Disminuir tamaño de vista</h5>
            <p class="card-text">Da click para ver el ejemplo</p>
        </div>
    </div>
-->

    <div class="card">
        <img src="../../assets/img/img3.jpg" class="card-img-top" alt="..." width="100px" height="200px">
        <div class="card-body">
            <h5 class="card-titleWord">Buscar Word en la Computadora</h5>
            <p class="card-textWord">Revise que tenga instalada la aplicacion de Word. Utilice
                el buscador para encontrar la aplicacion en su computadora</p>
            <hr size="10px" color="blue" />
            <p class="card-textWord">¿No sabes como hacerlo? Haz click en el boton</p>
            <a href="https://cloud.uipath.com/8083004c-0eed-4fd0-a7b3-d973ee2ded31/apps_/default/run/production/ID9f684e03d20c44ce8a4d3f94cd1115ac/public?origin=appsHomePage&el=LEGACY" target="_blank"> 
                <button class="buttonWord">Click Aqui!!!</button>
            </a> 
        </div>
    </div>
</div>